<footer class="footer bg-primary">
    <div class="container">
        <div class="footerBox">
            <div class="footerTop pt-lg-7 pt-md-7 pt-4 pb-4">
                <ul class="footerList d-lg-flex d-md-flex d-none">
                    <li><a href="index.html" class="footerLink pe-5">首頁</a></li>
                    <li><a href="optical.html" class="footerLink pe-5">系列鏡框</a></li>
                    <li><a href="store.html" class="footerLink pe-5">門市據點</a></li>
                    <li><a href="blog.html" class="footerLink pe-5">部落格</a></li>
                    <li><a href="question.html" class="footerLink">常見問題</a></li>
                </ul>
                <div class="d-flex justify-content-between">
                    <ul class="footerContact d-lg-none d-md-none d-block">
                        <li class="footerContactLink d-flex align-items-center pb-2">
                            <img src="/assets/images/icon-phone.svg" alt="phone" class="me-2">
                            <a href="tel:+886800-000-000">
                                0800-000-000
                            </a>
                        </li>
                        <li class="footerContactLink d-flex align-items-center">
                            <img src="/assets/images/icon-mail.svg" alt="mail" class="me-2">
                            <a href="mailto:glasses@business.com">
                                glasses@business.com
                            </a>
                        </li>
                    </ul>
                    <div class="footerSocial">
                        <ul class="footerSocialMenu d-flex">
                            <li class="footerSocialItem pe-lg-5 pe-md-5 pe-2">
                                <a href="http://facebook.com.tw" class="footerSocialLink">
                                <img src="/assets/images/ic-social-fb.png" alt="instagram">
                                </a>
                            </li>
                            <li class="footerSocialItem pe-lg-5 pe-md-5 pe-2">
                                <a href="http://instagram.com.tw" class="footerSocialLink">
                                <img src="/assets/images/ic_social_ig.png" alt="instagram">
                                </a>
                            </li>
                            <li class="footerSocialItem">
                                <a href="https://line.me/zh-hant/" class="footerSocialLink">
                                <img src="/assets/images/ic_social_line.png" alt="instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="footerBottom d-lg-block d-md-block d-none">
                <li class="footerContactLink d-flex align-items-center pb-2">
                    <img src="/assets/images/icon-phone.svg" alt="phone" class="footerContactimg">
                    <a href="tel:+886800-000-000" class="ps-lg-3 ps-md-3">
                        0800-000-000
                    </a>
                </li>
                <li class="footerContactLink d-flex align-items-center pb-5">
                    <img src="/assets/images/icon-mail.svg" alt="mail" class="footerContactimg">
                    <a href="mailto:glasses@business.com" class="ps-lg-3 ps-md-3">
                        glasses@business.com
                    </a>
                </li>
            </ul>
            <hr class="whiteLine">
            <div class="footerCopyright d-flex flex-lg-row flex-md-row flex-column justify-content-lg-between justify-content-md-between justify-content-start">
                <p class="pb-2 pb-lg-0 pb-md-0">Copyright © 2020 Glasses.All rights reserved.</p>
                <ul class="footerPrivacy d-flex lex-lg-row flex-md-row flex-column">
                    <li class="footerPrivacyItem pb-2 pb-lg-0 pb-md-0">
                        <a href="#">隱私權政策</a>
                    </li>
                    <li class="footer-privacyItem ps-lg-7 ps-md-7">
                        <a href="#">服務條款</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>