<header class="header">
    <div class="container">
        <div class="headerBox d-flex d-lg-flex d-md-flex justify-content-between align-items-center">
            <div class="headerHamburgerLogo">
                <h1>
                    <a href="index.html">glasses</a>
                </h1>
            </div>
            <nav class="d-lg-flex d-md-flex d-none">
                <ul class="headerMenu">
                    <li class="headerItem"><a href="optical.html" class="headerLink">系列鏡框</a></li>
                    <li class="headerItem"><a href="shop.html" class="headerLink">門市據點</a></li>
                    <li class="headerItem"><a href="blog.html" class="headerLink">部落格</a></li>
                    <li class="headerItem pe-0"><a href="question.html" class="headerLink">常見問題</a></li>
                </ul>
            </nav>
            <div class="headerHamburger d-lg-none d-md-none d-flex">
                <input type="checkbox" id="toggler" class="d-none">
                <label for="toggler">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                </label>
                <ul class="hamburgerMenu">
                    <ul class="headerList d-flex">
                    <li class="headerItem"><a href="optical.html" class="headerLink">系列鏡框</a></li>
                    <li class="headerItem"><a href="shop.html" class="headerLink">門市據點</a></li>
                    <li class="headerItem"><a href="blog.html" class="headerLink">部落格</a></li>
                    <li class="headerItem"><a href="question.html" class="header-link">常見問題</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</header>