.header {
  &Box {    
      justify-content: space-between;
      align-items: center;
      @include pad {
          padding: 0 $text-2xl;
      }
      @include mobile {
          padding: 0 15px;
      }
  }
  background-color: $primary;
  &Logo{
      background: url(../images/logo-white.png) no-repeat center;
      background-size: contain;
      width: 80px;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
      padding: 30px 0;
      &:hover{
          color: $secondary;
          opacity: 0.5;
          transition: all .3s;
      }
      @include mobile{
          width: $text-4xl;
          margin: 0 auto;
          padding: 15px 0;
      }
  }
  &Menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  &List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  &Item{
      padding: 0 $text-xl;
      @include mobile {
          width: 50%;
          border: 1px solid $white;
      }
      a{
          color: $white;
          font-size: $text-m;
          line-height: 1.5;
          @include mobile{
              font-size: $font-size-base;
              padding: 12px 0;
          }
      }
      @include mobile{
          text-align: center;
      }
  }
  &Link {
      font-size: $text-m;
      color: #FFFFFF;
  }
  &Link:hover{
      color: $secondary;
      transition: .5s;
  }
  &Hamburger {
      &Logo {
          background: url(../images/logo-white.png) no-repeat center;
          background-size: contain;
          width: 80px;
          text-indent: 101%;
          white-space: nowrap;
          overflow: hidden;
          padding: 30px 0;
      }
  }
}
.hamburger {
  position: relative;
  width: 30px;
  height: 15px;
  padding: 10px 5px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      border-radius: 10px;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: 10px;
  }
  span:nth-child(4) {
    top: 20px;
  }
  &Menu {
    background-color: $primary;
    opacity: 0.97;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 84px;
    right: 0;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &Item {
    margin: 25px 0;
    a {
      color: $white;
    }
  }
}
.open {
  span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  span:nth-child(2) {
    transform: rotate(45deg);
  }
  span:nth-child(3) {
    transform: rotate(-45deg);
  }
  span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
#toggler:checked ~ .hamburgerMenu {
  transform: scaleY(1);
}
