.index {
  &Banner {
    height: 787px;
    background: url(../images/home-header.png) no-repeat 50% 50%;
    background-size: cover;
    @include pad {
      width: 100%;
      background: url(../images/home-header-sm.png) no-repeat 50% 50%;
      background-size: cover;
    }
    @include mobile {
      height: 396px;
    }
  }
  &Slogan {
    color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 296px;
    @include mobile {
      padding-top: 144px;
    }
    h2 {
      font-size: $text-5xl;
      @include mobile {
        font-size: $text-l;
      }
    }
    h3 {
      font-size: $text-2xl;
      @include mobile {
        font-size: $text-base;
      }
    }
    a {
      font-size: $text-m;
      display: block;
      color: $light;
      background-color: $primary;
      padding: 6px 12px;
      margin-top: 4px;
      @include mobile {
        margin-top: 8px;
      }
    }
  }
  &Titles {
    color: $secondary;
    h3 {
      text-align: center;
      font-size: $text-4xl;
      padding-top: 80px;
      padding-bottom: $text-4xl;
      @include mobile {
        font-size: $text-l;
        padding-top: $text-3xl;
        padding-bottom: $text-l;
      }
    }
  }
  &Serve {
    background-color: #FBF2F2;
    height: 488px;
    &Box {
      @include pad {
        padding: 0 $text-2xl;
      }
      @include mobile {
        padding-left: 13px;
        padding-right: $text-s;
        margin: 0px;
      }
    }
    @include pad {
      height: 720px;
    }
    @include mobile {
      height: auto;
    }
    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: $text-l;
      img {
        width: 100px;
        height: 100px;
      }
      h4 {
        font-weight: bolder;
        color: $secondary;
        font-size: $text-l;
      }
    }
  }
  &Product {
    &Item {
      @include pad {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include mobile {
        width: 100%;
        padding-left: 13px;
        padding-right: $text-s;
      }
      img {
        height: 416px;
        @include pad {
          height: 336px;
        }
        @include mobile {
          width: 100%;
        }
      }
      h4 {
        text-align: center;
        font-size: $text-4xl;
        font-weight: bolder;
        font-style: italic;
        color: $primary;
      }
    }
  }
  &Design {
    height: 608px;
    background-image: url(../images/index-bg.png);
    background-size: cover;
    @include pad {
      background-image: url(../images/index-bg-md.png);
      height: 960px;
    }
    @include mobile {
      background-image: url(../images/index-bg-sm.png);
      height: 820px;
    }
    &Box {
      @include mobile {
        padding-left: 13px;
        padding-right: $text-s;
      }
    }
    &Item {
      text-align: center;
      @include pad {
        padding: 0 $text-2xl;
      }
      h4 {
        font-size: $text-4xl;
        font-style: italic;
        font-weight: bold;
      }
      img {
        height: 240px;
        @include pad {
          width: 100%;
        }
      }
    }
  }
  &Recommend {
    &Box {
      @include pad {
        display: flex;
        justify-content: center;
        column-gap: $text-l;
      }
      @include mobile {
        padding-left: 13px;
        padding-right: $text-s;
      }
    }
    &Card {
      @include pad {
        width: 336px;
      }
      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        height: 306px;
      }
    }
    &Texts {
      padding: 0 $text-base;
      h4 {
        font-weight: bold;
      }
    }
    &Date {
      font-size: $text-s;
    }

  }
  &Contact {
    font-family: 'Noto Sans TC', sans-serif;
    height: 922px;
    background-color: #FBF2F2;
    @include pad {
      height: auto;
    }
    &Input {
      input, textarea {
        padding: 6px 12px;
        border: 0px solid $dark;
        outline: 1px solid $dark;
      }
    }
    &Form {
      width: 50%;
      margin: 0 auto;
      @include pad {
        width: 100%;
        padding: 0 96px;
      }
      @include mobile {
        padding-left: 13px;
        padding-right: $text-s;
        width: 100%;
        padding-bottom: $text-3xl;
      }
      p {
        font-size: $text-m;
        @include pad {
          font-size: $text-base;
        }
      }
    }
  }
}