<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <title>部落格</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="blogNav">
      <div class="container">
        <nav class="blogNavList">
          <ul class="d-flex">
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">最新消息</a></li>
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">特別企劃</a></li>
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">新品上市</a></li>
            <li class="pe-lg-7 pe-md-7"><a href="#">鏡框小知識</a></li>
          </ul>
          <div class="blogNavIcon d-lg-block d-md-block d-none">
            <img src="../assets/images/icon-search.svg" alt="search">
          </div>
        </nav>
      </div>
    </section>
    <section class="commonTitle">
      <div class="container">
        <h2 class="ps-3 mb-lg-ㄓ mb-md-5">部落格</h2>
      </div>
    </section>
    <section class="blog">
      <div class="container">
        <ul class="blogList row mx-0">
          <li class="blogPhoto col-lg-6 col-md-6 col-12 ps-0">
            <img src="../assets/images/blog-1.png" alt="blog-1">
          </li>
          <li class="blogText col-lg-6 col-md-6 col-12 pe-0">
            <div class="blogTextBox">
              <div class="blogTextHead">
                <h3>情人特別企劃</h3>
                <div class="d-flex justify-content-between pb-lg-3 pb-md-1">
                  <h4>2020 Valentine’s Special</h4>
                  <span>2020/02/14</span>
                </div>
              </div>
              <div class="blogTextBody">
                <p class="d-none d-md-none d-lg-block">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯</p>
                <p class="d-none d-lg-none d-md-block">
                  一年一度西洋情人節即將到來，我們推出最強
                  「情人節企劃」，為這個甜蜜的節日加溫。偶爾
                  跟另一半來個低調情侶單品，結合彼此喜好、找
                  出合適框型款式，在這個春夏輕鬆搭出屬於你們
                  的甜蜜默契！即日起至2/16為止，不論是熱戀<br>
                  情侶、自由自在一個人或是老夫老妻⋯⋯
                </p>
              </div>
            </div>
            <div class="blogMoreBtn">
              <a href="blogDetail.html">more</a>
            </div>
          </li>
        </ul>
        <ul class="blogList row mx-0">
          <li class="blogPhoto col-lg-6 col-md-6 col-12 ps-0">
            <img src="../assets/images/blog-2.png" alt="blog-2">
          </li>
          <li class="blogText col-lg-6 col-md-6 col-12 pe-0">
            <div class="blogTextBox">
              <div class="blogTextHead">
                <h3>街頭潮人訪問</h3>
                <div class="d-flex justify-content-between pb-lg-3 pb-md-1">
                  <h4>Street Interview</h4>
                  <span>2020/02/02</span>
                </div>
              </div>
              <div class="blogTextBody">
                <p class="d-none d-md-none d-lg-block">炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T 恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯</p>
                <p class="d-none d-lg-none d-md-block">
                  炎熱的夏季裡，衣著選擇經常希望以簡潔的風格
                  為主，但有時單純只穿搭 T 恤或短袖開襟襯<br>
                  衫，又覺得整體造型度有點不足嗎？那麼不妨可
                  以透過「配件」，為穿搭點綴出與眾不同的視覺
                  層次，而本季有哪些必備的配件系列呢？一起從
                  以下推薦的 3 款單品，讓你瞬間帥氣⋯⋯
                </p>
              </div>
            </div>
            <div class="blogMoreBtn">
              <a href="blogDetail.html">more</a>
            </div>
          </li>
        </ul>
        <ul class="blogList row mx-0">
          <li class="blogPhoto col-lg-6 col-md-6 col-12 ps-0">
            <img src="../assets/images/blog-3.png" alt="blog-3">
          </li>
          <li class="blogText col-lg-6 col-md-6 col-12 pe-0">
            <div class="blogTextBox">
              <div class="blogTextHead">
                <h3>春季新品上市</h3>
                <div class="d-flex justify-content-between pb-lg-3 pb-md-1">
                  <h4>New Selection</h4>
                  <span>2020/02/02</span>
                </div>
              </div>
              <div class="blogTextBody">
                <p class="d-none d-md-none d-lg-block">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                <p class="d-none d-lg-none d-md-block">
                  一年一度西洋情人節即將到來，我們推出最強
                  「情人節企劃」，為這個甜蜜的節日加溫。偶爾
                  跟另一半來個低調情侶單品，結合彼此喜好、找
                  出合適框型款式，在這個春夏輕鬆搭出屬於你們
                  的甜蜜默契！即日起至2/16為止，不論是熱戀<br>
                  情侶、自由自在一個人或是老夫老妻⋯⋯
                </p>
              </div>
            </div>
            <div class="blogMoreBtn">
              <a href="blogDetail.html">more</a>
            </div>
          </li>
        </ul>
        <ul class="blogList row mx-0">
          <li class="blogPhoto col-lg-6 col-md-6 col-12 ps-0">
            <img src="../assets/images/blog-4.png" alt="blog-4">
          </li>
          <li class="blogText col-lg-6 col-md-6 col-12 pe-0">
            <div class="blogTextBox">
              <div class="blogTextHead">
                <h3>設計師獨享鏡框優惠</h3>
                <div class="d-flex justify-content-between pb-lg-3 pb-md-1">
                  <h4>Sales for Designer</h4>
                  <span>2020/01/18</span>
                </div>
              </div>
              <div class="blogTextBody">
                <p class="d-none d-md-none d-lg-block">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                <p class="d-none d-lg-none d-md-block">
                  2020 年春季的光學眼鏡跳脫前幾季流行的復古<br>
                  框型，比起圓框與小方框等文青風格，偏向個性
                  款式的眉框眼鏡成為這一季的耀眼之星。除了經
                  典款式如黑色眉框落在長方形鏡面上，眉宇之間
                  露出專業莊重的特殊氣質，包覆在圓形鏡框上的
                  貓眼型眉框則是強調出特殊設計感，⋯⋯
                </p>
              </div>
            </div>
            <div class="blogMoreBtn">
              <a href="blogDetail.html">more</a>
            </div>
          </li>
        </ul>
        <ul class="blogList row mx-0 mb-8">
          <li class="blogPhoto col-lg-6 col-md-6 col-12 ps-0">
            <img src="../assets/images/blog-5.png" alt="blog-5">
          </li>
          <li class="blogText col-lg-6 col-md-6 col-12 pe-0">
            <div class="blogTextBox">
              <div class="blogTextHead">
                <h3>抵抗夏日大作戰</h3>
                <div class="d-flex justify-content-between pb-lg-3 pb-md-1">
                  <h4>Summer Special</h4>
                  <span>2019/08/07</span>
                </div>
              </div>
              <div class="blogTextBody">
                <p class="d-none d-md-none d-lg-block">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                <p class="d-none d-lg-none d-md-block">
                  2020 年春季的光學眼鏡跳脫前幾季流行的復古<br>
                  框型，比起圓框與小方框等文青風格，偏向個性
                  款式的眉框眼鏡成為這一季的耀眼之星。除了經
                  典款式如黑色眉框落在長方形鏡面上，眉宇之間
                  露出專業莊重的特殊氣質，包覆在圓形鏡框上的
                  貓眼型眉框則是強調出特殊設計感，⋯⋯
                </p>
              </div>
            </div>
            <div class="blogMoreBtn">
              <a href="blogDetail.html">more</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="page">
      <div class="container">
        <ul class="pageList d-flex justify-content-center mb-8">
          <li class="pageItem pagePrevBtn">
            <a href="#">
              上一頁
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              1
            </a>
          </li>
          <li class="pageItem pageActive">
            <a href="#">
              2
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              3
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              4
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              5
            </a>
          </li>
          <li class="pageItem pageNextBtn">
            <a href="#">
              下一頁
            </a>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  </body>
</html>
