<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <title>部落格</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="blogNav">
      <div class="container">
        <nav class="blogNavList">
          <ul class="d-flex">
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">最新消息</a></li>
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">特別企劃</a></li>
            <li class="pe-lg-7 pe-md-7 pe-4"><a href="#">新品上市</a></li>
            <li class="pe-lg-7 pe-md-7"><a href="#">鏡框小知識</a></li>
          </ul>
          <div class="blogNavIcon d-lg-block d-md-block d-none">
            <img src="../assets/images/icon-search.svg" alt="search">
          </div>
        </nav>
      </div>
    </section>
    <section class="blogDetail">
      <div class="container">
        <div class="blogDetailBox row d-flex mx-0">
          <ul class="blogDetailList col-lg-8 col-md-9 col-12 d-flex flex-column">
            <ul class="breadcrumbList d-flex mt-lg-4 mt-md-2 mt-3 mb-2">
              <li class="breadcrumbItem">
                <a href="index.html">
                  首頁/
                </a>
              </li>
              <li class="breadcrumbItem">
                <a href="blog.html">
                  部落格/
                </a>
              </li>
              <li class="breadcrumbItem">
                <a href="#">
                  特別企劃/
                </a>
              </li>
              <li class="breadcrumbItem">
                <a href="#" class="text-primary">
                  情人特別企劃
                </a>
              </li>
            </ul>
            <ul class="d-flex pb-2 text-primary">
              <li class="blogDetailTitleTag pe-3">
                <h4>#special</h4>
              </li>
              <li class="blogDetailTitleTag">
                <h4>#event</h4>
              </li>
            </ul>
            <div class="blogDetailTitle mb-lg-3 mb-md-4 mb-3">
              <h2>情人特別企劃</h2>
              <h3>2020 Valentine’s Special</h3>
            </div>
            <li class="blogDetailCard mb-lg-6 mb-md-6 mb-3">
              <img src="../assets/images/blogpage-1.png" alt="blog-1">
              <p class="pt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </li>
            <li class="blogDetailCard mb-lg-6 mb-md-6 mb-3">
              <img src="../assets/images/blogpage-2.png" alt="blog-2">
              <p class="pt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </li>
            <li class="blogDetailCard mb-lg-6 mb-md-6 mb-3">
              <img src="../assets/images/blogpage-3.png" alt="blog-3">
              <p class="pt-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                <br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </li>
            <li class="blogDetailCard mb-lg-6 mb-md-6 mb-0">
              <img src="../assets/images/blogpage-4.png" alt="blog-4">
              <p class="pt-2">
                2/14(五)-2/20(日) 
                <br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 
                <br>期間優惠還有~~持他牌鏡框更換鏡片 
                <br>薄型非球面鏡片折300元 
                <br>濾藍光鏡片折500元 
                <br>快快帶上另一半 
                <br>讓彼此每一次睜開眼，都被愛的視線包圍!
              </p>
            </li>
            <ul class="blogDetailTop d-flex align-items-center pb-3 d-lg-flex d-md-flex d-none">
              <li class="pe-3"><p>Share</p></li>
              <li class="pe-3">
                <a href="#">
                  <img src="../assets/images/logo-facebook.png" alt="facebook">
                </a>
              </li>
              <li class="pe-3">
                <a href="#">
                  <img src="../assets/images/logo-instagram.png" alt="instagram">
                </a>
              </li>
            </ul>
            <hr class="borderGary">
            <div class="blogDetailBottom d-flex justify-content-between mt-3 mb-8 d-lg-flex d-md-flex d-none">
              <ul class="blogDetailBtn">
                <li class="d-flex align-items-center">
                  <a href="#" class="pe-3">
                    <img src="../assets/images/icon-arrow.svg" alt="icon-arrow" class="photoRevese">
                  </a>
                  <a href="#">
                    上一篇：街頭潮人訪問 1
                  </a>
                </li>
              </ul>
              <ul class="blogDetailBtn">
                <li class="d-flex flex-row-reverse align-items-center">
                  <a href="#">
                    <img src="../assets/images/icon-arrow.svg" alt="icon-arrow">
                  </a>
                  <a href="#" class="pe-3">
                    下一篇：街頭潮人訪問 2
                  </a>
                </li>
              </ul>
            </div>
          </ul>
          <ul class="blogDetailTag col-lg-4 col-md-3 col-12 row flex-column mx-0 d-lg-block d-md-block d-none">
            <li class="d-flex pb-1 align-items-center">
              <img src="../assets/images/icon-tag.svg" alt="tag-icon">
              <h3 class="ps-lg-2 ps-md-0">TAGS</h3>
            </li>
            <li class="d-flex pb-lg-1 pb-md-0">
              <h4 class="pe-4">#special</h4>
              <h4>#sale</h4>
            </li>
            <li class="d-flex pb-lg-1 pb-md-0 flex-lg-row flex-md-column mx-0">
              <h4 class="pe-4">#new_item</h4>
              <h4>#interview</h4>
            </li>
            <li class="d-flex pb-lg-1 pb-md-0">
              <h4 class="pe-4">#trivia</h4>
              <h4>#news</h4>
            </li>
            <li class="d-flex">
              <h4>#event</h4>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  </body>
</html>
