<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <title>SUNGLASSES</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="opticalMenu">
      <div class="container px-0">
        <ul class="opticalList d-flex row mx-0">
          <li class="opticalListItem col-4">
            <a href="optical.html">
              <h2>OPTICAL</h2>
            </a>
          </li>
          <li class="opticalListItem col-4 menuActive">
            <a href="sunglasses.html">
              <h2>SUNGLASSES</h2>
            </a>
          </li>
          <li class="opticalListItem col-4">
            <a href="#">
              <h2>FUNCTIONAL</h2>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="opticalBanner">
      <ul class="opticalBannerBox d-flex mb-lg-8 mb-md-8 mb-6">
        <li class="opticalBannerThree w-50"></li>
        <li class="opticalBannerFour w-50"></li>
      </ul>
    </section>
    <section class="opticalProduct">
      <div class="container">
        <div class="opticalTitle">
          <h3>2020 NEW COLLECTION</h3>
          <h4 class="pb-lg-5 pb-md-5 pb-4">賽璐珞鈦金屬混合鏡框</h4>
        </div>
        <ul class="opticalProductList row">
          <li class="opticalProductCard col-lg-4 col-md-6 col-12">
            <img src="/assets/images/product-7.png" alt="product-1" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
          <li class="opticalProductCard col-lg-4 col-md-6 col-12">
            <img src="/assets/images/product-8.png" alt="product-2" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
          <li class="opticalProductCard col-lg-4 col-md-6 col-12">
            <img src="/assets/images/product-5.png" alt="product-3" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
          <li class="opticalProductCard col-lg-4 col-md-6 col-12">
            <img src="/assets/images/product-9.png" alt="product-4" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
          <li class="opticalProductCard col-lg-4 col-md-6 col-12 mb-0">
            <img src="/assets/images/product-3.png" alt="product-5" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
          <li class="opticalProductCard col-lg-4 col-md-6 col-12 mb-0">
            <img src="/assets/images/product-9.png" alt="product-6" style="height: 224px;">
            <div class="opticalProductText d-flex justify-content-between">
              <h4>BJ41600S</h4>
              <p>NTD3,490</p>
            </div>
            <div class="opticalProductcColor d-flex">
              <p class="opticalProductOne me-2"></p>
              <p class="opticalProductTwo"></p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="page">
      <div class="container">
        <ul class="pageList d-flex justify-content-center mb-8">
          <li class="pageItem">
            <a href="#">
              上一頁
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              1
            </a>
          </li>
          <li class="pageItem pageActive">
            <a href="#">
              2
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              3
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              4
            </a>
          </li>
          <li class="pageItem">
            <a href="#">
              5
            </a>
          </li>
          <li class="pageItem pageNextBtn">
            <a href="#">
              下一頁
            </a>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </body>
</html>
